<?xml version="1.0" encoding="UTF-8"?>
<!-- 称为 MyBatis的映射文件, 用于规定数据访问
接口中的方法 与 SQL语句之间的映射关系, 有了这个
映射关系, 执行数据访问接口中的方法, 就自动执行
对应的SQL语句. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.sjzpt.mapper.UserMapper">
	<!-- 用户注册 -->
	<!-- Integer register(User user) -->
	<!-- 当前方法需要INSERT操作，所以使用insert节点进行配置，每个节点的id都对应的方法名称
		parameterType代表参数类型
		如果是基本类型或者String可以不用配置该属性
		
		***所有增删改操作默认返回受影响行数，但是，不配置返回值类型**
	 -->
	 <!-- 如果insert时要得到新数据的ID ，则需要配置useGeneratedKeys="true" 并配置 keyProperty，这个属性是数据中的字段-->
	 
</mapper>



























